* {
  margin: 0px;
  color: #F2F2F2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

header {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

h1 {
  font-size: 2rem;
  padding-left: 10px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 5px;
}

.logo_img {
  height: 40px;
  border-radius: 50%;
  padding: 5px;
}

body {
  background-color: #EAE4D5;
}

.main {
  display: flex;
  margin: 10px;
}

aside {
  width: 25%;
  margin-right: 25px;
}

main {
  width: 75%;
}

aside,
main {
  background-color: #F2F2F2;
  height: 600px;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}

.content_text {
  color: #000000;
  font-size: 2rem;
  padding: 10px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.child {
  background-color: #F2F2F2;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}
.child_img {
  height: 70%;
  width: 100%;
}

.child p {
  color: #000000;
  padding: 5px;
}

.hamburger_menu {
  display: none;
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }
  .hamburger_menu {
    display: block;
  }
  .logo_img {
    display: none;
  }
  .main {
    flex-direction: column-reverse;
    gap: 20px;
    padding: 10px;
  }
  aside {
    width: 100%;
    height: 250px;
  }
  main {
    width: 100%;
    height: 500px;
  }
}
